

.header{
    background-position: center;
    background-image: url("LogoTest.png");
    background-repeat: no-repeat;
    background-color: #F1F1f1;
    text-align: center;
    padding: 90px;
}

.bg{
/*background-image: url(North-Edit2.png);*/
background-color: rgb(66,66,66);
height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}